*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */

.nav-section {
    position: sticky;
    top: 0;
    border: 1px solid #080D07;
    background: rgba(8, 13, 7, 0.75);
    padding: 1.5em;
}

.nav-section ul {
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.nav-section a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Jura', sans-serif;
    font-size: 40px;
}

#list li:nth-child(3) a {
    font-size: 80px;
}

/* footer */

.footer {
    position: relative;
    bottom:0;
    background: #080D07;
}

.footer div {
    color: white;
    justify-content: space-around;
}

.box1 {
    display: flex;
}

.box1 div p:nth-child(1) {
    margin: 1.5em 0 1.5em 0;
    font-size: 2em;
    font-family: 'Jura', sans-serif;
}

.box1 div p{
    margin: .5em 0 1em 0;
    font-family: 'Jura', sans-serif;
}

.copywrite {
    display: flex;
    flex-flow: column;
}

.copywrite p {
    display: flex;
    justify-content: center;
    font-family: 'Jura', sans-serif;
    margin: .3em;
}

/* baground image & body */

body {
    background-image: url(https://i.postimg.cc/fLNKsmwS/suits1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 100vh;
}